LINE_CHANNEL_ACCESS_TOKEN="XCEAO3H659cjOVAZOlbPnBhtAi1nnXAluxPbXcq0Y1Jx8bCNjtHnf2p4AG7/1f0qhqmnc9Fgg2pJJ/0nLuQHMEWm+4tF7vR345yTusil/IdrbZ2ivG3E3orvbtLkSszGdClsyMVtmhN2eM/hrLg6OAdB04t89/1O/w1cDnyilFU="
LINE_USER_ID="Uxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
